/*******************************************************************************

    Styles used by the Main layout. Applied to `/src/app/(main)/...` pages. 

*******************************************************************************/

:root {
  /* We will sync --color-xxx and --font-xxx values with COLORS and FONTS during the Main layout loading */
  /* Note --font-xxx values are set by Next.js fonts, see `/src/style/fonts.ts` file for details */

  --color-text: #222222;
  --color-background: #ffffff;
  --color-headerAndFooter: #272727;
  --color-whiteText: #f0f0f0;

  --color-primary: #f37208;
  --color-secondary: #156da3;
  --color-success: #008000;
  --color-warning: #bbbb00;
  --color-error: #ff0000;
}

body {
  /* margin: 0 auto;
  max-width: 1920px; */
}

a {
  text-decoration: none;
  color: var(--color-secondary)
}

hr {
  border: 2px solid black;
}


#button {
  color: var(--color-whiteText);
}
