/*******************************************************************************

    Styles used by the Main layout. Applied to `/src/app/(main)/...` pages. 

*******************************************************************************/

:root {
  /* We will sync --color-xxx and --font-xxx values with COLORS and FONTS during the Main layout loading */
  /* Note --font-xxx values are set by Next.js fonts, see `/src/style/fonts.ts` file for details */
  /* TODO: Better set values matching JS configs here, otherwise server side components may have wrong styles */

  --color-text: #222222;
  --color-background: #ffffff;
  --color-headerAndFooter: #272727;
  --color-headerAndFooterText: #f0f0f0;

  --color-primary: #f37208;
  --color-secondary: #404040;
  --color-success: #008000;
  --color-warning: #bbbb00;
  --color-error: #ff0000;
}

body {
  /* margin: 0 auto;
  max-width: 1920px; */
}

a {
  text-decoration: none;
}

hr{
  border: 2px solid black;
}

.content{
  margin: 3rem 0 3rem 1rem;
  max-width: 60%;
}

.content a{
  color: var(--color-secondary);
}

#button{
  color: var(--color-whiteText);
}