.wrapper {
  position: sticky;
  height: max-content;
  
}

.desktop{
  padding: 3rem 0;
  margin: 3rem 1rem 3rem 0;
  max-width: 30%;
  top: 160px;
  z-index: 31; 
  width: 30%;
}
.wrapper li {
  color: var(--color-secondary);
}

.mobile{
  margin: 1rem;
  width: 90%;
}

.narrow{
  margin:3rem 1rem;
  max-width: 80%;
}