.wrapper {
  /* display: flex; */

  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.desktop {
  margin: 3rem 0 3rem 1rem;
  max-width: 60%;
}

.narrow {
  margin: 3rem 1rem;
  max-width: 80%;
}

.mobile {
  margin: 1rem;
  width: 100%;
}
